# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Publish Python Package

on:
  release:
    types: [published]

jobs:
  bump-version-and-publish:
    name: Bump version and upload release to PyPI

    runs-on: ubuntu-latest
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    
    environment:
      name: pypi
      url: https://pypi.org/p/groundcua
    
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Update version.py with release tag
      env:
        RELEASE_TAG: ${{ github.event.release.tag_name }}
      run: |
        python .github/scripts/python/update_version.py --version $RELEASE_TAG --path "groundcua/version.py"
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build twine
    
    - name: Build package
      run: |
        python -m build
    
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1

